@tailwind base;
@tailwind components;
@tailwind utilities;


.main-heading{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    margin-bottom: 200px;
}

.card{
    width: 500px;
    padding: 20px;
    background-color:rgb(179, 206, 223);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin: 0 auto;
}


div.phone-input .react-tel-input .form-control {
    width: 300px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }

.pagetwo button{
    margin-top: 20px;
    width: 35%;
    border: none;
    background-color:rgb(67, 76, 152);
    color: aliceblue;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    display: inline-block; 
    min-width: 30px;
    min-height: 50px;
    font-size: 16px; 
}

.phone-number{
    margin-bottom: 10px;
    font-size: 20px;
}

